<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <a href="#" class="logo">
        <img src="/assets/img/logo.png" alt="Логотип">
      </a>
      <nav class="footer-menu">
        <ul>
          <li>
            <a routerLink="/" fragment="services">Услуги</a>
          </li>
          <li>
            <a routerLink="/" fragment="about">О нас</a>
          </li>
          <li>
            <a routerLink="/blog">Статьи</a>
          </li>
          <li>
            <a routerLink="/" fragment="reviews">Отзывы</a>
          </li>
          <li>
            <a routerLink="/" fragment="contacts">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer-bottom">
      <div class="footer-bottom-block">
        <div class="footer-head">Адрес</div>
        <p>
          Пресненская наб., 12, Москва, Россия, 123317.
        </p>
      </div>
      <div class="footer-bottom-block">
        <div class="footer-head">Телефон</div>
        <div class="footer-content">
          <a href="tel:+74993431334" class="footer-phone">+7 (499) 343-13-34</a>
          <button class="btn btn-small" (click)="openPopup()">Перезвоните мне</button>
        </div>
      </div>
      <div class="footer-bottom-block">
        <div class="footer-head">E-mail</div>
        <a href="mailto:info@itstorm.com">info&#64;itstorm.com</a>
      </div>
      <div class="footer-bottom-block">
        <div class="footer-head">Мы в социальных сетях:</div>
        <div class="footer-socials">
          <a href="https://vk.com/">
            <img src="/assets/img/icons/vk.svg" alt="Вконтакте">
          </a>
          <a href="https://www.facebook.com/">
            <img src="/assets/img/icons/facebook.svg" alt="FaceBook">
          </a>
          <a href="https://www.instagram.com/">
            <img src="/assets/img/icons/instagram.svg" alt="Instagram">
          </a>
        </div>
      </div>
    </div>
    <p class="copyright">&copy; 2022. Все права защищены</p>
  </div>
</footer>

<ng-template #popup>
  <app-popup-order
    [type]="popupType.consultation"
    (closePopup)="closePopup()"
  ></app-popup-order>
</ng-template>
