<section class="login" [formGroup]="loginForm">
  <div class="container">
    <div class="auth-form">
      <div class="auth-title">Войти в личный кабинет</div>
      <div class="auth-inputs">
        <div class="auth-input">
          <input
            type="text"
            class="input"
            placeholder="Электронная почта"
            formControlName="email"
            [ngStyle]="{'border-color': loginForm.get('email')?.invalid
             && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched) ? 'red' : ''}"
          >
          <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)">
            <div class="invalid-feedback" *ngIf="loginForm.get('email')?.errors?.['required']">
              Введите email
            </div>
            <div class="invalid-feedback" *ngIf="loginForm.get('email')?.errors?.['email']">
              Некорректный email
            </div>
          </div>
        </div>
        <div class="auth-input">
          <input
            [type]="isShownPassword ? 'text' : 'password'"
            class="input password"
            placeholder="Пароль"
            formControlName="password"
            [ngStyle]="{'border-color': loginForm.get('password')?.invalid
             && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched) ? 'red' : ''}"
          >
          <span (click)="toggleShowPassword()">
            <fa-icon class="show-password" [icon]="isShownPassword ? faEye : faEyeSlash"></fa-icon>
          </span>
          <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
            <div class="invalid-feedback" *ngIf="loginForm.get('password')?.errors?.['required']">
              Введите пароль
            </div>
          </div>
        </div>
        <div class="auth-checkbox">
          <input
            type="checkbox"
            id="remember"
            formControlName="rememberMe"
          >
          <label for="remember">Запомнить меня</label>
        </div>
      </div>
      <div class="auth-action">
        <button class="btn" [disabled]="loginForm.invalid" (click)="login()">Войти</button>
      </div>
      <div class="auth-link">
        Нет аккаунта? <a routerLink="/signup">Пройдите регистрацию</a>
      </div>
    </div>
    <div class="page-image">
      <img src="/assets/img/login.png" alt="">
    </div>
  </div>
</section>
